.loadingFather {
    width: 100%;

}
.loading {
    border: 4px solid rgba(0,0,0,0.4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 100px;
    /* text-align: center; */
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

table.content-table {
    border: 1px solid rgba(00, 00, 00, 0.1 );
    border-collapse: collapse;
    margin: 60px 2.5%;
    width: 95%;
    font-size: 14px;
}
thead {
    background-color: rgba(0,0,0,0.08);
}
thead tr {
    height: 67.5px;
    border-bottom: 1px solid rgba(00, 00, 00, 0.1 );
}

/* TAMAÑO DE LAS FILAS */
tr {
    height: 56px;
}

/* TAMAÑO DE LAS COLUMNAS */
.th1 {
    min-width: 54px;
}
.th2 {
    min-width: 250px;
}
.th3 {
    min-width: 186px;
}
.th4 {
    min-width: 186px;
}
.th5 {
    min-width: 186px;
}
.th6 {
    min-width: 184px;
}
.th7 {
    min-width: 186px;
} 
.th8 {
    min-width: 82px;
} 
/* ALINEACION TITULOS COLUMNAS */
th {
    padding: 0 1.5%;
    text-align: start;
    font-weight: 600;
}
/* .th1 {
    padding: 0 1%;
} */
.th8 {
    padding: 0 0;
    text-align: center;
}
/* ALINEACION Contenido COLUMNAS */
td {
    padding: 0 1.5%;
    text-align: start;
}
.td8 {
    padding: 0 0;
    text-align: center;
}