.contactModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalHeader {
    background-color: #1D72C2;
    color: white;
    width: 80%;
    height: 140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.modalHeader button {
    position: absolute;
    right: 18px;
    top: 13px;
    border: none;
    color: white;
    font-size: 20px;
}
.modalHeaderData {
    border: 2px #0683F9 solid;
    border-radius: 10px;
    height: 131px;
    background-color: white;
    width: 97%;
    margin-top: 34.5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.modalHeaderData .profilePhotoContainer {
    position: relative;
    width: 85px;
    height: 85px;
}
.modalHeaderData .profilePhoto {
    width: 85px;
    height: 85px;
    border: 2px #0683F9 solid;
    overflow: hidden;
}
.profilePhoto img {
    width: 100%;
    height: 100%;
}
.iconContainer {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 1px;
    right: 4px;
    background-color: #0683F9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faCamera {
    font-size: 14px;
    background-color: #0683F9;
}
label {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
}
.modalHeaderData input {
    border: 1px #CCCCCC solid;
    height: 35.5px;
    min-width: 100px;
    font-family: 'Open Sans';
    padding: 5px;
    margin-top: 5px;
}

.modalBody {
    width: 80%;
    background-color: white;
    padding-top: 100px;
}
.userData {
    display: flex;
    justify-content: space-evenly;
}
.channelDataHeader {
    display: flex;
    margin: 0 5%;
    justify-content: flex-start;
}
.channelDataHeader p {
    margin: 5% 13.5% 0 0;
}
.channelData {
    display: flex;
    margin: 10px 0 0 0;
    justify-content: flex-start;
}
.channelData div, .channelData label {
    margin: 0 0 0 5%;
}

.modalHeader select {
    border: 1px #CCCCCC solid;
    height: 35.5px;
    width: 190px;
    font-family: 'Open Sans';
    padding: 5px;
    margin-top: 5px;
}
.modalBody select {
    border: 1px #CCCCCC solid;
    height: 35.5px;
    width: 190px;
    font-family: 'Open Sans';
    padding: 5px;
    margin-top: 5px;
}
.interestContainer {
    display: flex;
}
.modalBody select.interest {
    width: 70px;
    height: 35.5px;
    margin-left: 15px;
}
.modalBody p {
    color: black;
    font-size: 13px;
    text-align: start;
}
.modalBody input {
    border: 1px #CCCCCC solid;
    height: 35.5px;
    min-width: 100px;
    width: 190px;
    font-family: 'Open Sans';
    padding: 5px;
    margin-top: 5px;
}
.addChn {
    width: 143px;
    height: 34px;
    border: 1px #CCCCCC solid;
    margin-top: 24.5px;
    font-size: 12px;
}
.modalFooter {
    height: 100px;
    width: 80%;
    background-color: white;
}
.modalActions {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.modalActions button {
    width: 172px;
    height: 41px;
    margin: 0 30px 0 0;
}
.cancelBtn {
    border: none;
}
.saveBtn {
    color: white;
    border-radius: 2px;
    background-color: #2c902c;
    border: 1px solid #0683F9;
}
.saveBtn:disabled {
    background-color: rgba(0,0,0,0.25);
    border-radius: 2px;
    border: none;
}
.deleteBtn {
    color: red;
    border-radius: 2px;
    border: none;
    font-weight: 600;
}