.usersSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.usersSection div.formDataContainer{
    border: 2px solid black;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.usersSection label{
    font-size: 16px;
}

.usersSection input {
    border: 1px #CCCCCC solid;
    height: 35.5px;
    width: 190px;
    font-family: 'Open Sans';
    padding: 5px;
    margin-top: 10px;
}

.usersSection select {
    border: 1px #CCCCCC solid;
    height: 35.5px;
    width: 190px;
    font-family: 'Open Sans';
    padding: 5px;
    margin-top: 10px;
}